<h1><a href="/">John Gesimondo</a></h1>
<p>TMI about me</p>
<p><img src="/images/cellphone_bw.jpeg" /></p>
<p>
  <a href="https://twitter.com/jmondo" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @jmondo</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</p>
