---
layout: default
title: home
description: Business student by training, Rails dev by practice.
---

<section>
  <h3>My deal</h3>

  <p><a href="http://babson.edu">Business student</a> by training, <a href=
  "http://github.com/jmondo">Rails dev</a> by practice. Smart, fun guy to work with.</p>

  <p>For best results, combine me with:<br />
  3 parts awesome team, 2 parts learning, 1 part travel</p>

  <p class="see-more"><a href="/cv.html">cv &rarr;</a></p>
</section>

<section>
  <h3>From the blog</h3>

  {% for post in paginator.posts limit: 2 %}
  {% assign content = post.content %}
    <article>
      {% include article_snippet.html %}
    </article>
  {% endfor %}

  <p class="see-more"><a href="/blog/">posts &rarr;</a></p>
</section>
